#
# Logical Preferences generated for Lattice by Synplify map202309lat, Build 191R.
#

# Period Constraints 
FREQUENCY PORT "CLK_100MHZ" 100.0 MHz;
FREQUENCY PORT "ETH_REFCLK" 125.0 MHz;
FREQUENCY PORT "ULPI_CLK" 60.0 MHz;
#FREQUENCY NET "u_lpddr3/pll_clk_out" 200.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
